@import "tailwindcss";

@layer base {
  button {
    cursor: pointer !important;
  }
  button:focus, button:active, button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}